.login-page{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom,var(--red-400),var(--primary-400),var(--primary-400));
}
.register-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.condition-checked{
    text-decoration: line-through;
}

.guest-login:hover{
    background-color: rgb(151, 0, 0);
    color: var(--white);
}
.pass-checks-box{
    border: 2px solid var(--primary-300);
    padding: 10px;
}
@media all and (max-width:450px) {
    .credential-form{
        padding: 10px;
    }
}